/* Add your shared styles here */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('/static/images/Pic.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
}


.upload-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px; /* Space between the upload button and the options */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-btn:hover {
    background-color: #0056b3;
}

.options-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.option-btn {
    padding: 10px 20px;
    border: 2px solid #007bff;
    background-color: white;
    color: #007bff;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.option-btn:hover {
    background-color: #007bff;
    color: rgb(60, 151, 237);
}

/* Hide the default radio button */
.options-group input[type="radio"] {
    display: none;
}