<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Image Upload</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="header-title">
        <h1>Welcome To Face Recognition</h1>
    </div>
    <div class="container">
        <h2>Upload an Image</h2>
        <form action="/predict" method="post" enctype="multipart/form-data">
            <input type="file" name="image" required>
            <input type="submit" value="Upload Image">
        </form>
        <div class="header-title">
            <h3>What do you want to know about this person? select below</h3>
        </div>
        <div class="options-group">
            <input type="radio" id="race" name="attribute" value="race" autocomplete="off" checked>
            <button type="button">RASE</button>
            
            <input type="radio" id="age" name="attribute" value="age" autocomplete="off">
            <button type="button">AGE</button>
    
            <input type="radio" id="gender" name="attribute" value="gender" autocomplete="off">
            <button type="button">Gender</button>
        </div>
    </div>
    <div>
        <footer class="footer">
            {% block footer %}
                <div style="font-size: larger;" class="footer__copyright">&copy; 2024 Face Recognition, With Any System Error Please Contact Us.
                </div>
            {% endblock %}
        </footer>   
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
